include LICENSE
include README.md
include pyproject.toml

recursive-include coco_pipe/report/templates *.html
recursive-include coco_pipe/report/static *.css *.js *.svg
recursive-include coco_pipe/dim_reduction *.yaml *.json
recursive-include conf *.yaml
