[build-system]
requires = ["setuptools>=64", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "coco-pipe"
version = "0.0.1"
dependencies = [
    "numpy",
    "scipy",
    "matplotlib",
    "seaborn",
    "scikit-learn",
    "pandas"
]