pytest-cov
pyyaml
numpy
pandas
scikit-learn
matplotlib
sphinx>=4.0.0
insegel
furo
sphinx_gallery
sphinx-copybutton
sphinxcontrib-mermaid
sphinx-autoapi
myst-parser
umap-learn
trimap
phate
mne>=1.0.0
mne-bids>=0.10.0
requests
openpyxl
-e .
