pyyaml
numpy
pandas
scikit-learn
matplotlib
umap-learn
annoy @ git+https://github.com/BabaSanfour/annoy.git
pacmap @ git+https://github.com/BabaSanfour/PaCMAP.git
trimap
phate
mne>=1.9.0
mne-bids>=0.10.0
requests
openpyxl
ivis @ git+https://github.com/beringresearch/ivis.git
meegkit
pydmd
gudhi
tensorflow
keras
torch
